/* ------------- generales ------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}


/* -------------- index -------------- */

.centro {
    margin-top: 2rem;
    text-align: center;
}

button {
    cursor: pointer;
    margin: 1.5rem;
    appearance: none;
    background: none;
    background-color: #FFF;
    border-radius: 0.8rem;
    padding: 1.5rem;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: rgba(221, 221, 221, 0.9);
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    background-color: rgb(156, 59, 59);
}


input {
    margin: 1.5rem;
    appearance: none;
    background: none;
    background-color: #FFF;
    border-radius: 0.8rem;
    padding: 1.5rem;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    &:focus {
    box-shadow: 0rem 0rem 0.8rem 0.5rem rgba(0, 0, 0, 0.2);
    }
}

p{
    font-size: 1.8rem;
    margin: 1rem;
}

li{
        font-size: 1.3rem;
        list-style: none;
}

h1{
    margin: 8rem;
}

div{
    margin-bottom: 2rem;
}

.tosti{
    background: rgb(180,33,33);
    background: linear-gradient(0deg, rgba(180,33,33,1) 0%, rgba(99,18,18,1) 100%);
    border-radius: 0.8rem;
}